
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&family=Sono&display=swap');

    .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
    }

    .c1{
        text-align: center;
        border:1px dotted black;
    }

    .centered img {
        width: 180px; 
        height: 180px;
        border-radius: 60%;
    }

    b{
        color:black
    }
    
    body{
        font-family: 'Roboto Mono', monospace;
        background-color:  rgb(99, 66, 100);
        color: rgb(255, 255, 255); 
        margin-left: 75px; 
        margin-top:15;
        margin-bottom: 50px;
        margin-right: 50px;"
    }

    a{text-decoration: none;}
    a:link{color:rgb(216, 188, 241)}
    a:visited{color:rgb(204, 196, 238)}
    a:hover{color:rgb(27, 23, 27); background-color: aliceblue;}

    .c1 tr:hover{
        background-color: rgb(60, 45, 70);
        color:white;
    }
    
